
//$ver: ?ver=1;

$img: '../../images/';
$FontPath: "../../../fonts";
$FontPath: "../fonts";
$iconsFontFamily: 'bricons';
$iconsFontPath: "../fonts/bricons";

$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: 'TheSansArabic' ;
$font-base-rtl: "TheSansArabic";


$brand-primary: #3F968D;
$brand-secondary: #3E3E3E;
$brand-green:#76C045; 
$brand-green-hover:#76C045; 
$brand-gold: #b48a33;
$brand-gold-dark: #825924;
$brand-gold-special:#EDC37F;
$brand-yellow: #E5A844;
$brand-red: #F1474E;
$brand-red-dark: #BD1B21;

$brand-green-light: #A9CBB6;
$brand-red-shade:#FDEFF2;
$brand-gray:#767676;
$brand-gray-0:#606060;
$brand-gray-01:#D9D9D9;
$brand-dark-gray:#6B6B6B;
$brand-light-gray:#B7B7B7;
$brand-white-shade: #F2F2F7;
$border-gray: #e6e6e6;
$gold-shade:#FCF6F0;
$off-white: #F5F5F5;
$pure-white: #FFFFFF;
$black: #000000; 
$transparent-light:rgba(255, 255, 255, 0.300);
$transparent-light-hard:rgba(255, 255, 255, 0.800);
$transparent-gold: rgba(181, 147, 93, 0.2);
$transparent-blue:rgba(49, 86, 121, 0.3);
$transparent-gray: rgba(88, 97, 108, 0.8);

$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0, 0, 0, 0.3);
$black04: rgba(0, 0, 0, 0.4);
$black05: rgba(0, 0, 0, 0.5);


$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
$white04: rgba(255, 255, 255, 0.4);
$white05: rgba(255, 255, 255, 0.5);

$blue01: rgba(49, 86, 121, 0.1);
$blue02: rgba(49, 86, 121, 0.2);
$blue03: rgba(49, 86, 121, 0.3);
$blue04: rgba(49, 86, 121, 0.4);
$blue05: rgba(49, 86, 121, 0.5);
$blue06: rgba(49, 86, 121, 0.6);
$blue07: rgba(49, 86, 121, 0.7);
$blue08: rgba(49, 86, 121, 0.9);
$blue09: rgba(49, 86, 121, 0.9);


$facebook:#2067A9;
$instagram:#B63AB9;
$X: #0077B5;
$youtube: #f82600;

