@import "breadcrumb";

.ar {
    .breadcrumbs-wrapper {
        .breadcrumb {
                li {
                    margin-right: 0;
                    margin-left: 30px;
                    a { 
                        &::before {
                            content: "\e90f";
                            left: -18px;
                            right: auto;
                            top:50%;
                        }
    
                    }
                    &:last-child {
                        margin-right: 0px;

                    }
                }
        
        }
    }
}