@import "footermenu";

.ar{
    footer {
        .gov-links{
            a{
                margin-right: 0px;
                margin-left: 20px;
                &:last-child {
                    margin-right: 0px;
                    margin-left: 0;
                }
                img{
                    width:100%;
                    transition-duration: 300ms;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
           
          
        } 
    }
}