@import "ourService";

.ar {

    .services-card {
 

      .card-heading {
        inset: auto 1rem 6rem auto;
      }
      .service-dis, .view-details{
    
        inset: auto 1.5rem 11rem auto;

      }
      
      .view-details {
        inset: 28rem 1.5rem auto auto;

      }
      .service-link {

        inset: auto auto 40px 45px;
      }
      
      &:hover .card-heading {
        inset: auto 1.5rem 25rem auto;
        transition: inset .3s ease-out;
      }
      
   
    
    }
  
  @media only screen and (max-width: 450px) {
    .services-card {
      .service-dis{
    
        inset: auto 1.5rem 11rem auto;
      }
    }
  }
}
