@import "ourService";

.ar {

    .services-card {
      .card-heading {
        inset: auto auto 6rem 11rem !important;
      }
      .service-dis, .view-details {
        inset: auto auto 11rem 1.5rem;
      }
      
      .view-details {
        inset: 28rem auto auto 1.5rem;
      }
      .service-link {
        inset: auto 45px 40px auto;
        text-align: left; /* محاذاة النص لليسار في الفئة العربية */

        &::after {
          right: 0; /* تعديل الحافة بناءً على الاتجاه من اليمين لليسار */
        }
      }
      
      &:hover .card-heading {
        inset: auto auto 25rem 1.5rem;
        transition: inset .3s ease-out;
      }
    }
  
  @media only screen and (max-width: 450px) {
    .services-card {
      .service-dis {
        font-size: 0.9rem;
        inset: auto auto 11rem 1.5rem;
      }
    }
  }
}
